.help {
  background: var(--bg);
  border-left: 1px solid var(--color-2);
  overflow: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 1em;
  height: 100vh;
  z-index: 2;
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: top;
  padding: 0.25em;
  border: 1px solid var(--color-2);
}

code {
  font-size: 1.25em;
  color: var(--color-1)
}
