@import url("./tree-editor.css");

html {
  --bg: white;
  --color-1: #666;
  --color-2: #999;
  --color-3: #eee;
}

body {
  margin: 0px;
  font-family: sans-serif;
  background: var(--bg);
}

.hidden {
  display: none;
}

.button {
  position: relative;
  background: var(--bg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  cursor: default;
  border: 1px solid var(--color-2);
  padding: 3px;
  vertical-align: middle;
  color: var(--color-2);
  user-select: none;
  border-radius: 2px;
  white-space: nowrap;
}

.button:hover {
  color: var(--color-1);
  border-color: var(--color-1);
  background: var(--color-3);
}

@keyframes flash {
  0% {
    background-color: var(--color-2);
  }

  100% {
    background-color: var(--bg);
  }
}

body.flash {
  animation: flash 200ms ease-out;
}
