.node {
  white-space: nowrap;
  width: fit-content;
}

.children > .node {
  padding-left: 2em;
  border-left: 1px solid var(--color-2);
}

.name {
  height: 16px;
  margin: 1px;
  vertical-align: middle;
  font-family: monospace;
}

.name:focus {
  position: relative;
}

.toggle-button:has(~ .children:empty) {
  color: var(--color-3);
}

.toggle-button {
  margin-right: 1px;
}

.remove-button {
  margin-left: 1px;
}

.toggle-button,
.remove-button {
  width: 14px;
}
