@import url("./widgets.css");

.tree {
    display: flex;
    padding: 1em;
    width: fit-content;
}

.tree-container {
    padding-right: 1em;
}

.output {
    border-left: 1px solid #999;
    padding-left: 1em;
}
