@import url("./widgets.css");

.tree {
  display: flex;
  padding: 1em;
  width: fit-content;
  margin-bottom: 100vh;
}

.tree-container {
  padding-right: 1em;
}

.output {
  border-left: 1px solid var(--color-2);
  padding-left: 1em;
}
