@import url("./widgets.css");
@import url("./lib/toast.css");

.tree {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.tree:has(.tree-container.hidden) {
  height: auto;
}
.tree:has(.tree-container.hidden) .output::after {
  height: 0;
}

.tree.default-cursor,
.tree.default-cursor * {
  cursor: default;
}

.tree-container {
  padding: 1em;
  overflow: auto;
  min-height: 0;
}

.tree-container:has(+ .output:not(.hidden)) {
  max-width: 61.8%;
}
.tree-container:has(+ .output.hidden) {
  width: 100%;
}

.tree-container.hidden + .output:not(.hidden) {
  border: none;
}

.tree-container::after {
  content: "";
  display: block;
  height: 100vh;
}

.output {
  border-left: 1px solid var(--color-2);
  padding: 1em;
  white-space: pre;
  overflow: auto;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.tree-container.hidden + .output.centered {
  display: flex;
  justify-content: center;
}

.output::after {
  content: "";
  display: block;
  height: 100vh;
}

.error {
  border-radius: 2px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: red;
  outline: 1px solid red;
  padding: 0.5em;
  margin: 0.5em;
  background: var(--bg);
}
