@import url("./widgets.css");

.tree {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.tree-container {
  padding: 1em;
  overflow: auto;
  min-height: 0;
}

.tree-container.hidden + .output {
  display: flex;
  justify-content: center;
  border: none;
}

.tree-container::after {
  content: "";
  display: block;
  height: 100vh;
}

.output {
  border-left: 1px solid var(--color-2);
  padding: 1em;
  white-space: pre;
  overflow: auto;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.output::after {
  content: "";
  display: block;
  height: 100vh;
}
