@import url("./widgets.css");

.tree {
  display: flex;
  margin-bottom: 100vh;
}

.tree-container {
  padding: 1em;
  padding-bottom: 0em;
}

.output {
  border-left: 1px solid var(--color-2);
  padding: 1em;
  padding-bottom: 0em;
}
