@import url("./lib/tabs.css");

.cl-item {
  display: flex;
  align-items: start;
  padding-left: 1em;
}
.cl-child {
  display: inline-block;
  margin-left: 0.25em;
}

thead {
  font-weight: bold;
}

.tbl,
.tabs,
.frm,
.frm-form {
  margin-bottom: 1em;
}

ol {
  margin-top: 0em;
}

ul {
  margin-top: 0em;
  list-style-type: disc;
}

.col {
  width: fit-content;
  border-radius: 2px;
}

.frm > table > tr > td {
  border: none;
  vertical-align: middle;
}

.frm > table > tr > td:nth-child(1) {
  text-align: right;
}

select {
  margin: 1px;
}

.hl-list {
  display: inline-flex;
}