@import url("./lib/tabs.css");

.checklist-item {
  display: flex;
  align-items: start;
}

thead {
  font-weight: bold;
}

.tbl,
.tabs,
.frm {
  margin-bottom: 1em;
}

ol {
  margin-top: 0em;
}

ul {
  margin-top: 0em;
  list-style-type: disc;
}

.frm > table > tr > td {
  border: none;
  vertical-align: middle;
}

.frm > table > tr > td:nth-child(1) {
  text-align: right;
}

select {
    margin: 1px;
}