@import url("./lib/tabs.css");

.pln-children > *, .indented {
  margin-left: 4ex;
}

.cl-item, .rad-item {
  display: flex;
  align-items: start;
  padding-left: 1em;
}
.cl-child, .rad-child {
  display: inline-block;
  margin-left: 0.25em;
}

thead, .htbl-label {
  font-weight: bold;
}

.col {
  width: fit-content;
  display: flex;
  gap: 1em;
}
.col-header {
  font-weight: bold;
}

.tbl,
.tabs,
.frm,
.frm-form {
  margin-bottom: 2px;
}

ol {
  margin: 0em;
}

ul {
  margin: 0em;
  list-style-type: disc;
}

.bg {
  width: fit-content;
  border-radius: 2px;
}

.frm > table > tr > td {
  border: none;
  vertical-align: middle;
}

.frm > table > tr > td:nth-child(1) {
  text-align: right;
}

select {
  margin: 1px;
}

.hl-list {
  display: inline-flex;
  align-items: center;
}

fieldset {
  width: fit-content;
}

button {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
