@import url("./lib/tabs.css");

.indented {
  margin-left: 3ch;
}

.cl-item,
.rad-item {
  display: flex;
  align-items: start;
  gap: 0.25ch;
}

thead,
.htbl-label {
  font-weight: bold;
}

.ltbl > tr > td {
  border: none;
  padding: 0px;
}

.ltbl > tr > td:nth-child(1) {
  text-align: right;
}

.tbl,
.tabs,
.frm,
.crd,
.frm-form {
  margin-bottom: 2px;
}

.bg {
  width: fit-content;
  border-radius: 2px;
}

.frm > table > tr > td {
  border: none;
  vertical-align: middle;
}

.frm > table > tr > td:nth-child(1) {
  text-align: right;
}

select {
  margin: 1px;
}

.lin {
  display: flex;
  align-items: flex-start;
}

fieldset {
  width: fit-content;
}

button {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.crd {
  width: fit-content;
  border: 1px solid var(--color-2);
  border-radius: 0.5em;
}

.crd-header {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.crd-header.border {
  border-bottom: 1px solid var(--color-2);
}

.crd-body {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
}

.crd-body > * {
  width: fit-content;
  display: inline-block;
  text-align: left;
}

.crd-attr-table {
  width: 100%;
}

.crd-attr-table > tr > td {
  border: none;
}

.crd-attr-table > tr {
  border-top: 1px solid var(--color-2);
}

.crd-attr-table > tr > td:nth-child(1) {
  border-right: 1px solid var(--color-2);
  text-align: right;
}

.crd-attr-table.no-border > tr:nth-child(1) {
  border-top: none;
}

.pgs-page {
  min-width: 6.3ch;
  display: inline-block;
  text-align: center;
}

.pgs-pager {
  display: inline-block;
}

.tgl-icon {
  cursor: default;
  user-select: none;
}

img {
  display: block;
}

.tt {
  font-family: monospace;
  font-size: 1.25em;
}

.cen {
  display: flex;
  justify-content: center;
}
